<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<!-- ===================================================================== -->
<!-- -->
<!-- Log4j Configuration -->
<!-- -->
<!-- ===================================================================== -->

<!-- $Id: log4j.xml 56612 2006-09-07 15:12:39Z thomas.diesler@jboss.com $ -->

<!-- | For more configuration infromation and examples see the Jakarta Log4j 
	| owebsite: http://jakarta.apache.org/log4j -->

<log4j:configuration
	xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">

	<appender name="FILE"
		class="org.apache.log4j.DailyRollingFileAppender">
		<errorHandler
			class="org.apache.log4j.helpers.OnlyOnceErrorHandler" />
		<param name="File" value="./logs/api-test.log" />
		<param name="Append" value="false" />
		<param name="Threshold" value="debug" />

		<!-- Rollover at midnight each day -->
		<param name="DatePattern" value="'.'yyyy-MM-dd" />


		<layout class="org.apache.log4j.PatternLayout">
			<!-- The default pattern: Date Priority [Category] Message\n -->
			<param name="ConversionPattern"
				value="%d{yyyy-MM-dd HH:mm:ss,SSS},(%-5r), %-5p [%c:%L] (%t:%x) %m%n" />
		</layout>
	</appender>

	<appender name="CONSOLE"
		class="org.apache.log4j.ConsoleAppender">
		<errorHandler
			class="org.apache.log4j.helpers.OnlyOnceErrorHandler" />
		<param name="Target" value="System.out" />
		<param name="Threshold" value="INFO" />

		<layout class="org.apache.log4j.PatternLayout">
			<!-- The default pattern: Date Priority [Category] Message\n -->
			<param name="ConversionPattern"
				value="%d{HH:mm:ss,SSS},(%-5r), %-5p [%c:%L] (%t:%x) %m%n" />
		</layout>
	</appender>

	<root>
		<level value="ALL" />
		<appender-ref ref="FILE" />
		<appender-ref ref="CONSOLE" />
	</root>

</log4j:configuration>
